@model ReactBikes.Models.Bike

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>View Bike</h1>

<div>
 
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModelName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModelName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Colour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Colour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationPostcode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationPostcode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
            @for (int i = 0; i < 5; i++)
            {
                if (Model.Rating <= i)
                {
                    <img src="/img/StarFade.jpg" width="20" />
                }
                else
                {
                    <img src="/img/StarGlow.jpg" width="20" />
                }
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Available)
        </dt>
        <dd class = "col-sm-10">
            @if(Model.Available==true)
            {
                <a class="btn btn-primary" asp-controller="Rentals" asp-action="Create" asp-route-BikeID="@Model.BikeId">Rent Now</a>
            }
            else
            {
                @("No")
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
